<div class="row">
	<div class="col-md-12">
		<div id="gallery">
			<a href="/p/<%= @prod8.to_s %>" class="linkme">
				<div class="row">
				<div class="col-md-7">	<img width="250px" class="mySlides" src="<%= @products[@prod8][:image] %>"></div>
				<div class="col-md-5">
				<p><%= @products[@prod8][:hook] %></p>
				</div>
				</div>
			</a>
			<a href="/p/<%= @prod9.to_s %>" class="linkme">
				<div class="row">
				<div class="col-md-7">	<img width="250px" class="mySlides" src="<%= @products[@prod9][:image] %>"></div>
				<div class="col-md-5">
				<p><%= @products[@prod9][:hook] %></p>
				</div>
				</div>
			</a>
			<a href="/p/<%= @prod10.to_s %>" class="linkme">
				<div class="row">
				<div class="col-md-7"> <img width="250px" class="mySlides" src="<%= @products[@prod10][:image] %>">
				</div>
				<div class="col-md-5">
				<p><%= @products[@prod10][:hook] %></p>
				</div>
				</div>
			</a>
		</div>	
	</div>
</div>
<div id="background-color">
	<div class="row top">
		<div class="col col-md-3 prodbox">
			<div class="featprod short">
					<a href="/p/<%= @prod1.to_s %>" >
						<img width="150px" class="featimg" src="<%= @products[@prod1][:image] %>">
					</a>
			</div>
		</div>
		<div class="col col-md-9 prodbox">
			<div class="featprod long">
					<a href="/p/<%= @prod2.to_s %>" >
						<img width="150px" class="featimg" src="<%= @products[@prod2][:image] %>">
						<p><%= @products[@prod2][:hook] %></p>
					</a>
			</div>
		</div>
	</div>
	<div class="row middle">
		<div class="col col-md-9 prodbox">
			<div class="featprod long">
					<a href="/p/<%= @prod3.to_s %>" >
						<img width="150px" class="featimg" src="<%= @products[@prod3][:image] %>">
						<p><%= @products[@prod3][:hook] %></p>
					</a>
			</div>
		</div>
		<div class="col col-md-3 prodbox">
			<div class="featprod short">
					<a href="/p/<%= @prod4.to_s %>" >
						<img width="150px" class="featimg" src="<%= @products[@prod4][:image] %>">
					</a>
			</div>
		</div>
	</div>
	<div class="row bottom">
		<div class="col col-md-3 prodbox">
			<div class="featprod short">
					<a href="/p/<%= @prod5.to_s %>" >
						<img width="150px" class="featimg" src="<%= @products[@prod5][:image] %>">
					</a>
			</div>
		</div>
		<div class="col col-md-9 prodbox">
			<div class="featprod long">
					<a href="/p/<%= @prod7.to_s %>" >
						<img width="150px" class="featimg" src="<%= @products[@prod7][:image] %>">
						<p><%= @products[@prod7][:hook] %></p>
					</a>
			</div>
		</div>
	</div>
</div>