<!DOCTYPE html>
<html>
<head>
	<link rel="icon"
	      type="image/ico"
	      href="images/gear.ico">
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Montserrat|Play|Quicksand" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap-grid.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<title><% @title %></title>
</head>
<body>
<header>
<div class="container">
	<div class="row">
		<div class="col-md-3">
			<h1>SiteName</h1>
		</div>
		<div class="col-md-9">
			<nav>
				<ul>
				<% while @n < @nav.length %>
					<li> <a class ="navLink" href="<%= @nav[@n][:link] %>"><%= @nav[@n][:text] %></a></li>
					<% @n += 1 %>
				<% end %>
				<% @n = 0 %> 
				</ul>
			</nav>
		</div>
	</div>
</div>
</header>
<div class="container">
<%= yield %>
</div>
<footer>
<div class="container"><div class="row">
<div class="col-md-6">
	<nav>
		<ul>
			<% while @n < @nav.length %>
			<li> <a class ="navLink" href="<%= @nav[@n][:link] %>"><%= @nav[@n][:text] %></a></li>
			<% @n += 1 %>
		<% end %> 
		<% @n = 0%>
		</ul>
	</nav>
</div>
<div class="col-md-6">
	<p>© SiteName <span id="year"></span>.</p>
</div>
</div></div>
</footer>
<script src="js/main.js"></script>
</body>
</html>